/*RECENT DATA*/

	.data-frame {

		background-color: rgb(76, 122, 168);
	}

		.inner-data-frame {

			background-color: rgb( 0, 0, 0);

			padding: 20px 0px;
		}

		.data-measure-frame {

			padding-top: 30px;
		}
		
		.data-frame p {

			color: rgb(255, 255, 255);
		}

		.measure {

			text-align: center;

			font-size: 20px;
		}

/*GRAPH*/

	#chart-settings {

		background-color: rgb(76, 122, 168);

		padding: 20px 0px;
	}

		.setting-frame {

			background-color: rgb(26, 72, 118);

			padding: 5px;

			padding-right: 30px;
		}
							
			.syntax, .date-label {

				color: rgb(255, 255, 255);
			}

				.date-label {

					text-align: center;

					text-transform: capitalize;

					font-size: 20px;
				}

				.error-frame {

					height: 10px;

					margin-bottom: 10px;
				}

					.error-message {

						color: rgb(255, 0, 0);
					}

				.syntax {

					text-align: justify;

					font-size: 20px;
				}
	#button {

		background-color: black;
	}