#body {

	background-color: rgb(0, 100, 155);

	font-family: "Times New Roman";
}


/*HEADER*/

	#mainHeader {

		background-color: rgb(26, 72, 118);
	}

		#mainHeader .col {

			background-color: rgb(255, 255, 255);
		}

		#mainTitle {

			font-size: 50px;

			color: rgb(255, 255, 255);

			text-align: center;
		}

		#mainHeader #mainTitleFolder {

			height: 120px;

			background-color: rgb(0, 0, 0);
		}

		#mainDescription {

			padding: 50px 0px;

			font-size: 30px;

			color: rgb(0, 0, 0);

			text-align: center;
		}

		#mainHeader #mainDescriptionFolder {

			height: 120px;

			background-image: url(../_media-source/main-description-folder.jpg);
		}

		#mainHeader #menu {

			background-color: rgb(0, 0, 0);
		}

			#mainHeader #menu div{

				background-color: rgb(0, 0, 0);
			}

			#mainHeader #menu a {

				text-decoration: none;
			}

			#mainHeader #menu p {

				color: rgb(255, 255, 255);

				font-size: 20px;

				text-align: center;
			}

.high-frame {

	margin-top: 20px;

	padding: 40px;

	background-color: rgb(26, 72, 118);

}

button, input[type="submit"] {

	background-color: black;

	color: white;
}

.container {

	margin-bottom: 40px;
}
